:root {
  /* Global Sizes */
  --button-height: 25px;
}

a {
  color: inherit;
  text-decoration: none;
  position: relative;
}

a:hover {
  cursor: pointer;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  /* right: 0; */
  width: 0%;
  bottom: -0.2em;
  height: 1px;
  background: red;
  /* max-width: 0%; */
  /* transition: width 1s linear; */
  transition: width var(--anim-sm);
}

a:hover::after {
  width: 100%;
}

