:root {

  /* Color */
  --color-ink: #212125;
  --color-subdued: #48494F;
  --color-neutral: #B7B9B2;
  --color-light: #EBEDE2;
  --color-reverse: #F6F7F2;

  --color-brand: #E66F18;
  --color-brand-contrast: var(--color-ink);
  --color-brand-secondary: #496E8F;
  --color-brand-secondary-contrast: var(--color-reverse);

  --color-border: var(--color-neutral);
}

html {
  background: var(--color-background);
  color: var(--color-foreground);

  --color-foreground: var(--color-reverse);
  --color-foreground-secondary: var(--color-light);
  --color-background: var(--color-ink);
  --color-background-secondary: var(--color-subdued);
  --color-border: var(--color-subdued);
  --color-link: var(--color-brand);
  --color-link-hover: var(--color-brand-secondary);
}

html[data-theme="light"] {
  --color-foreground: var(--color-ink);
  --color-foreground-secondary: var(--color-subdued);
  --color-background: var(--color-reverse);
  --color-background-secondary: var(--color-light);
  --color-border: var(--color-light);
  --color-link: var(--color-brand);
  --color-link-hover: var(--color-brand-secondary);
}