:root {

  /* Color */
  /* --color-ink: #B26720; */
  --color-ink: #9e5c1d;
  --color-subdued: #C69466;
  --color-neutral: #B7B9B2;
  --color-light: #a5ac88;
  --color-reverse: #d6dcbf;

  --color-dark: #1c1c1c;

  --color-brand: #272333;
  --color-brand-contrast: var(--color-ink);
  --color-brand-secondary: #496E8F;
  --color-brand-secondary-contrast: var(--color-reverse);

  --color-border: var(--color-neutral);
}

html {
  background: var(--color-background);
  color: var(--color-foreground);

  --color-foreground: var(--color-reverse);
  --color-foreground-secondary: var(--color-light);
  --color-background: var(--color-ink);
  --color-background-secondary: var(--color-subdued);
  --color-border: var(--color-neutral);
  --color-link: var(--color-brand);
  --color-link-hover: var(--color-brand-secondary);
}

html[data-theme="light"] {
  --color-foreground: var(--color-ink);
  --color-foreground-secondary: var(--color-subdued);
  --color-background: var(--color-reverse);
  --color-background-secondary: var(--color-light);
  --color-border: var(--color-neutral);
  --color-link: var(--color-brand);
  --color-link-hover: var(--color-brand-secondary);
}