* {
    /* Browser Resets */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

:root {
  /* Global Sizes */
  --header-height: 80px;
  /* --page-margin: var(--space-2xs); */
  --page-margin: var(--space-3xs);
  --page-margin-narrow: var(--space-2xs);
}

@media screen and (max-width: 768px) {
  :root {
    --page-margin-narrow: var(--page-margin);
  }
}