:root {

		/* Spacing */
		--space-3xs: 5px;
		--space-2xs: 10px;
		--space-xs: 15px;
		--space-sm: 20px;
		--space-md: 30px;
		--space-lg: 40px;
		--space-xl: 60px;
		--space-2xl: 80px;
		--space-3xl: 120px;

		/* Radius */
		--radius-sm: 6px;
		--radius-md: 12px;
		--radius-lg: 20px;
		--radius-rounded: 100vw;

    --icon-sm: 10px;
    --icon-md: 16px;
    --icon-lg: 24px;
}


html,
body {
  margin: 0;
  padding: 0;
}