---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import SectionBlock from '../components/sections/SectionBlock.astro';
import { getHomePageContent } from '../utils/sanityClient';

const data = await getHomePageContent()
const content = data[0].content
console.log(content)
---
<h1>About</h1>

<!-- <Layout title="About">
	<main>
		<h1>About</h1>
	</main>
</Layout>

<style>
	main {
		min-height: 100lvh;
	}
</style> -->
