---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import { getProjects } from '../../utils/sanityClient';


export async function getStaticPaths() {

  const data = await getProjects()
  console.log(data)

  interface Props {
    title: string
  }
  
  return data.map((project) => {
    return {
      params: { slug: project.slug.current },
      props: { project}
    }
  })
};

const { slug } = Astro.params;
const { project } = Astro.props;


---
<Layout title={project.title}>
  <h1>{project.title}</h1>
</Layout>