---
import Layout from '../../layouts/Layout.astro';
import WorkHero from '../../components/sections/work/Work_Hero.astro';
import WorkFilter from '../../components/sections/work/Work_Filter.astro';
import ProjectCard from '../../components/global/ProjectCard.astro';
import Blog from '../../components/sections/global/Global_Blog.astro';
import { getWorkPageContent } from '../../utils/sanityClient';
import WorkProjectGrid from '../../components/sections/work/Work_ProjectGrid.astro';

const data = await getWorkPageContent();

const pageContent = data.pageContent;
// const projects = data.projects;
// const projectTypes = data.projectTypes;



---

<Layout 
  title="Welcome to Astro."
  theme="light"
>
	<main>
    <WorkHero />
    <WorkFilter/>
    <WorkProjectGrid />
    <Blog />
	</main>
</Layout>


<style>
	main {
		min-height: 100lvh;
	}
</style>
