---
import { urlFor } from "../../../utils/sanityClient";
import Star from '../../../icons/Star.astro'
const { content } = Astro.props;
import { Icon } from 'astro-icon/components'

const details = [...content.details, ...content.details]
---
<section class="home_hero">

  <div class="hero-content">

    <div class="section-title">

      <a href="#" class="logo">
        <Icon name="logoTrey" />
      </a>
      <span class="description-wrapper">
        <p class="description caption">{content.description}</p>
      </span>
    </div>

    <div class="details-wrapper">
      <div class="details">
        {details.map((detail) => {
          return (
            <>
              <p class="detail-item detail-text h6">{detail}</p>
              <span class="detail-item detail-icon">
                <Star />
              </span>
            </>
          )
        })}
      </div>
    </div>

    <div class="media">
      <img
        class="image"
        width="3600"
        height="1800"
        sizes="(max-width: 768px) 200vw, 100vw"
        srcset={`
          ${urlFor(content.image).width(60).height(30).auto('format').url()} 60w,
          ${urlFor(content.image).width(600).height(300).auto('format').url()} 600w,
          ${urlFor(content.image).width(1200).height(600).auto('format').url()} 1200w,
          ${urlFor(content.image).width(1800).height(900).auto('format').url()} 1800w,
          ${urlFor(content.image).width(2400).height(1200).auto('format').url()} 2400w,
          ${urlFor(content.image).width(3000).height(1500).auto('format').url()} 3000w,
          ${urlFor(content.image).width(3600).height(1800).auto('format').url()}
        `}
        src={urlFor(content.image).auto('format').url()}
        alt={content.imageAlt} 
      />
    </div>

  </div>
</section>

<script>
  import { gsap } from "../../../utils/gsap";

  const hero = document.querySelector(".home_hero");
  const content = hero.querySelector(".hero-content");
  const logo = hero.querySelector("[data-icon=logoTrey]");
  const description = hero.querySelector(".description")
  const detailItems = hero.querySelectorAll(".detail-item")
  const image = hero.querySelector(".image")

  const timeline = gsap.timeline({defaults: {ease: "power4.out", duration: 1.4}})

  document.addEventListener("preloader:complete", () => {
    timeline.from(image,{ scale: 1.2, duration: 4 })
    timeline.from(logo,{ translateY: "-100%" }, "<0.2")
    timeline.from(description,{ translateY: "100%" }, "<0.4")
    timeline.from(detailItems,{ translateY: "100%", opacity: 0, stagger: 0.2 }, "<")
  })

</script>

<style>
  .home_hero {
    height: calc(100lvh - var(--header-height) );
    padding: var(--page-margin) var(--page-margin) 0;
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }

  .hero-content {
    /* align-self: stretch; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-basis: 100%;
    border-radius: var(--radius-lg);
    overflow: hidden;
    width: 100%;
    /* width: 30vw; */
  }

  .section-title {
    padding: var(--space-sm);
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: var(--space-sm);
  }

  .logo {
    flex: 0 0 max(120px, 30vw);
    overflow: hidden;
    /* height: fit-content; */
  }

  [data-icon="logoTrey"] {
    /* opacity: 0.2; */
    width: 100%;
    height: auto;
  }

  .description-wrapper {
    overflow: hidden;
    height: auto;
  }

  .description {
    /* visibility: hidden; */
    max-width: 40ch;
    word-wrap: break-word;
    text-align: justify;
  }

  .details-wrapper {
    z-index: 1;
  }

  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: var(--space-2xs) 0;
    width: 200%;
    will-change: translate;
    animation: scroll 30s linear 0s infinite;
    gap: var(--space-xs);
    /* translate: 0 -100%; */
  }

  @keyframes scroll {
    to {
      translate: -50% 0;
    }
  }

  .detail-text {
    flex-shrink: 0;
    margin: 0;
  }

  .detail-icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--icon-md);
    height: var(--icon-md);
  }

  .media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }


</style>