---
import { urlFor } from "../../../utils/sanityClient";
import Star from '../../../icons/Star.astro'
const { content } = Astro.props;
import { Icon } from 'astro-icon/components'
import SanityImage from "../../helpers/SanityImage.astro";

const details = [...content.details, ...content.details]
---
<section class="home_hero">

  <div class="hero-content">

    <div class="section-title">

      <span class="logo">
        <Icon name="logoTrey" />
      </span>
      <span class="description-wrapper">
        <p class="description caption">{content.description}</p>
      </span>
    </div>

    <div class="details-wrapper">
      <div class="details">
        {details.map((detail) => {
          return (
            <>
              <p class="detail-item detail-text h6">{detail}</p>
              <span class="detail-item detail-icon">
                <Star />
              </span>
            </>
          )
        })}
      </div>
    </div>

  </div>


  <div class="media">
    <SanityImage 
      sizes="100vw"
      image={content.image}
      aspectRatio={4 / 3}
      threeImage={true}
    />
  </div>
</section>

<script>
  import { gsap } from "../../../utils/gsap";

  const hero = document.querySelector(".home_hero");

  if (hero) {

    const logo = hero.querySelector("[data-icon=logoTrey]");
    const description = hero.querySelector(".description")
    const detailItems = hero.querySelectorAll(".detail-item")
    // const image = hero.querySelector(".image")
    
    const timeline = gsap.timeline({defaults: {ease: "power4.out", duration: 1.4}})

    document.addEventListener("preloader:complete", () => {
      // timeline.from(image,{ scale: 1.2, duration: 4 })
      timeline.from(logo,{ translateY: "-100%" }, "<0.2")
      timeline.from(description,{ translateY: "100%" }, "<0.4")
      timeline.from(detailItems,{ translateY: "100%", opacity: 0, stagger: 0.2 }, "<")
    })
  }

</script>

<style>
  .home_hero {
    position: relative;
    height: calc(100svh - var(--header-height) );
    margin: var(--page-margin) var(--page-margin) 0;
    /* padding: var(--page-margin) var(--page-margin) 0; */
    /* padding: var(--space-3xs) var(--space-3xs) 0; */
    color: var(--color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    overflow: hidden;
  }

  .hero-content {
    /* align-self: stretch; */
    /* position: relative; */
    /* position: absolute; */
    /* inset: 0; */
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-basis: 100%;
    width: 100%;
    z-index: 1;
    /* aspect-ratio: 2 / 1; */
    /* width: 30vw; */
  }

  .section-title {
    padding: var(--space-sm);
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: var(--space-xs);
  }

  .logo {
    flex: 0 0 max(120px, 30vw);
    overflow: hidden;
    /* height: fit-content; */
  }

  [data-icon="logoTrey"] {
    /* opacity: 0.2; */
    width: 100%;
    height: auto;
  }

  .description-wrapper {
    overflow: hidden;
    height: auto;
  }

  .description {
    /* visibility: hidden; */
    max-width: 40ch;
    word-wrap: break-word;
    text-align: justify;
  }

  .details-wrapper {
    z-index: 1;
  }

  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: var(--space-2xs) 0;
    width: 200%;
    will-change: translate;
    animation: scroll 30s linear 0s infinite;
    gap: var(--space-xs);
    /* translate: 0 -100%; */
  }

  @keyframes scroll {
    to {
      translate: -50% 0;
    }
  }

  .detail-text {
    flex-shrink: 0;
    margin: 0;
  }

  .detail-icon {
    flex-grow: 0;
    flex-shrink: 0;
    width: var(--icon-md);
    height: var(--icon-md);
  }

  .media {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--radius-md);
    overflow: hidden;
  }

  /* .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  } */


</style>