---
interface Props {
	title: string;
}

import Header from '../components/global/Header.astro';
import Footer from '../components/global/Footer.astro';
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`Trey Hardin | ${title}`}</title>
    <ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>

	:root {
		/* Browser Fixes */
		box-sizing: border-box;
		min-width: 0;
		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		/* Color */
		--color-ink: #000000;
		--color-subdued: #000000;
		--color-light: #ffffff;
		--color-reverse: #ffffff;

		--color-brand: #ffffff;
		--color-brand-contrast: #ffffff;
		--color-brand-secondary: #ffffff;
		--color-brand-secondary-contrast: #ffffff;

		--color-foreground: var(--color-reverse);
		--color-background: var(--color-ink);

		/* Spacing */
		--space-3xs: 5px;
		--space-2xs: 10px;
		--space-xs: 15px;
		--space-sm: 20px;
		--space-md: 30px;
		--space-lg: 40px;
		--space-xl: 60px;
		--space-2xl: 80px;
		--space-3xl: 120px;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--color-background);
	}
	body {
		color: var(--color-foreground);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
