---
import { Icon } from 'astro-icon/components'
const { text, url, style, icon } = Astro.props;

const
---
<a class="button" href={url}>
  <Icon name="star" />
  <span class="button-text">{text}</span>
</a>

<style>
  .button {
    position: relative;
    padding: 0 var(--space-2xs);
    border: 1px solid var(--color-foreground);
    border-radius: var(--radius-sm);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-3xs);
    height: var(--button-height);
    outline: none;
    overflow: hidden;
  }

  .button:hover {
    /* background-color: var(--color-foreground); */
    color: var(--color-background);
    border-color: var(--color-brand);
  }

  .button:hover [data-icon],
  .button:hover .button-text {
    /* animation: button-hover 0.1s linear 0s; */
  }

  .button::after {
    content: "";
    background: var(--color-brand);
    position: absolute;
    right: 0;
    left: 0;
    top: var(--button-height);
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: var(--radius-rounded) var(--radius-rounded) 0 0;
    z-index: -1;
    translate: 0 -20%;
    transition: border-color var(--anim-md);
    scale: 1 0.5;
    filter: blur(10px);
  }

  .button:hover::after {
    translate: 0 calc(-75% );
    transition: all var(--anim-md);
    /* border-radius: 0; */
  }

  .button [data-icon] {
    width: var(--icon-sm);
    height: var(--icon-sm);
    animation: icon-rotate 10s linear 0s infinite;
  }

  .button:hover [data-icon] {
    animation-play-state: paused;
  }

  @keyframes icon-rotate {
    to {
      rotate: 360deg;
    }
  }

</style>