---
---
<header>
  <a href="/">Home</a>
  <a href="/work">Work</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
  <a href="/styleguide">Styleguide</a>
</header>
<style>
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--page-margin);
    justify-content: space-between;
    height: var(--header-height);
    position: sticky;
    top: 0;
  }
</style>