---
const { inline } = Astro.props;
---
<header data-inline={`${inline}`}>
  <a href="/" class="header-detail caption">
    Trey Hardin
  </a>
  <nav class="navigation-links">
    <a href="/work" class="navigation-link caption">Work</a>
    <a href="/about" class="navigation-link caption">About</a>
    <a href="/about" class="navigation-link caption">Musings</a>
    <a href="/contact" class="navigation-link caption">Contact</a>
  </nav>
  <p class="header-detail caption">Brooklyn, NY</a>
</header>

<script>
  import { gsap } from "../../utils/gsap";

  const timeline = gsap.timeline({ defaults: {duration: 1, ease: "power4.out"}});

  const header = document.querySelector('header');

  document.addEventListener("preloader:complete", () => {
    if (header.dataset.inline && header.dataset.inline == "true") {
      timeline.from('.navigation-link', {translateY: "100%", opacity: 0, stagger: 0.1})
      timeline.from('.header-detail', {translateY: "100%", opacity: 0}, ">")
    }
  })

  document.addEventListener("astro:after-swap", () => {
    // Non first page load anims go here
  })

</script>

<style>
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--page-margin-narrow);
    justify-content: space-between;
    height: var(--header-height);
    position: sticky;
    top: 0;
    color: var(--color-foreground-secondary);
    z-index: 99;
  }

  .navigation-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-sm);
    color: var(--color-foreground);
  }

  @media screen and (max-width:460px) {
    .header-detail {
      display: none;
    }
  }
</style>