---
---
<header>
  <a href="/" class="caption">
    Trey Hardin
  </a>
  <nav class="navigation-links">
    <a href="/work" class="caption">Work</a>
    <a href="/about" class="caption">About</a>
    <a href="/about" class="caption">Musings</a>
    <a href="/contact" class="caption">Contact</a>
  </nav>
  <p class="header-detail caption">Brooklyn, NY</a>
</header>
<style>
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--page-margin);
    justify-content: space-between;
    height: var(--header-height);
    position: sticky;
    top: 0;
    color: var(--color-foreground-secondary);
  }

  .navigation-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-sm);
    color: var(--color-foreground);
  }

  @media screen and (max-width:460px) {
    .header-detail {
      display: none;
    }
  }
</style>