---
---
<header>
  <a href="/">Home</a>
  <a href="/work">Work</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</header>
<style>
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>